<!-- Main Logo/Intro Area -->
<div class="main-logo">
  <img href="https://placebear.com/400/400">
  <div class="title" id="logotitle">
    <p>Many Accounts. One Feed.</p>
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<br>
<!-- Supported Services -->

<div class="main-services">
  <div class="title" id="servicetitle">
    <p>Supported Services</p>
  </div>
  <div class="squares-services"> <!-- Wrapper Element! -->
    <div class="box"><i class="fab fa-facebook-square-5x"></i></div>
    <div class="box"><i class="fab fa-twitter-square-5x"></i></div>
    <div class="box"><i class="fab fa-instagram-5x"></i></div>
    <div class="box"><i class="fab fa-linkedin-5x"></i></div>
    <div class="box"><i class="fab fa-youtube-square-5x"></i></div>
    <div class="box"><i class="fab fa-reddit-square-5x"></i></div>
    <div class="box"><i class="fab fa-tumblr-square-5x"></i></div>
    <div class="box"><i class="fab fa-twitch-5x"></i></div>
  </div>


<!-- Footer Links/Info -->

<!-- Copyright Info -->
